h1 {
    font-size: 2.074em;
    margin-top: 0;
    margin-bottom: 1rem;
}

.body {
    font-family: 'BC Sans', 'Noto Sans', Arial, 'sans serif';
    color: #313132;
    font-size: 16px;
    line-height: 1.5em;
}

.acronym-page-cont {
    text-align: center;
    padding: 60px 65px
}

.acronym-box {
    margin-bottom: 10rem;
}

.btn {
    margin-top: 1rem;
}

.btn-cancel {
    margin-left: 0.5rem;
}

.btn-new {
    margin-right: 0.5rem;
}



.top {
    margin-bottom: 1rem;
}

.bottom {
    height: 7rem;
}