h1 {
    font-size: 2.074em;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 1rem;
}

.main {
    padding-bottom: 3rem;
    /* text-align: center; */
}

.heading {
    background-color: #f1f1f1;
    border-bottom: solid #FCBA19 1px;
    padding: 60px 65px
}

.landing-page-cont {
    text-align: center;
    padding: 0rem 0rem;
}

.btn {
    margin-top: 1rem;
}

.btn-search {
    margin-right: 0.5rem;
}

.btn-new {
    margin-left: 0.5rem;
}

.acronym-header {
    margin-top: 3rem;
}

.input-box {
    display: block;
    margin: auto;
    height: 2.5rem;
    /* border-radius: 25px; */
    border-radius: 7px;
    width: 20rem;
    padding-left: 5px;
    border: solid 0.6px rgb(214, 214, 214);
}