h1 {
    font-size: 2.074em;
    margin-top: 0;
    margin-bottom: 1rem;
}

.heading {
    background-color: #f1f1f1;
    border-bottom: solid #FCBA19 1px;
    padding: 60px 65px
}

.landing-page-cont {
    text-align: center;
    padding: 0rem 0rem;
}

.btn {
    margin-top: 1rem;
}

.btn-search {
    margin-right: 0.5rem;
}

.btn-new {
    margin-left: 0.5rem;
}

.input-box {
    display: block;
    height: 2.3rem;
    /* border-radius: 25px; */
    border-radius: 7px;
    width: 30rem;
    border: solid 0.6px;
}

.acronym-header {
    margin-top: 3rem;
}